include README.md
include LICENSE
include requirements.txt
recursive-include docs *.md
recursive-include kittentts *.py
recursive-include kittentts *.json
recursive-include kittentts *.txt
global-exclude __pycache__
global-exclude *.py[co]
